<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="log-container">
        <div class="log-block">
            <div class="log-title">
                Войти
            </div>

            <ul class="log-input-ul">
                <input placeholder="Имя пользователя" type="text" name="username" id="id_username" required>
                <input id="id_password" type="password" placeholder="Пароль" required>
            </ul>

            <!--<div class="errors-list">
                <ul>
                {% for error in errors %}
                    <li>
                    {{ error }}
                    </li>
                {% endfor %}
                </ul> 
                
            </div>-->

            <div class="log-errors-list">
                <img src="../img/Vector 2.svg" alt="">Пароль должен содержать не менее 8 символов
            </div>
                
            <button type="submit" class="log-btn">Войти</button>
            <ul class="log-a">
                <li><a href="./password_reset_form.html">Забыли пароль?</a></li>
                <li><a href="./register.html">Зарегистрироваться</a></li>
                <li><a href="../base.html">Вернуться на главную</a></li>
            </ul>
        </div>
    </div>
</body>
</html>