<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgetpassword</title>

    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
  <div class="forget-container">
    <div class="forget-block">
      
      <h2 class="forget-title">
        <a class="btn-back" href="javascript:history.back()"><img src="../img/Arrow 3.svg" alt=""></a>
          Введите адрес электронной почты 
      </h2>
      
      <div class="forget-input">
          <input required id="id_email" for="id_email" type="email" placeholder="Email">
      </div>

      <div class="forget-text">
          Вам будет отправлена ссылка<br> на восстановление пароля
      </div>

      <button type="submit" class="forget-btn">Отправить</button>

      <!-- <div class="errors-list">
          <ul>
            {% for error in errors %}
              <li>
                {{ error }}
              </li>
            {% endfor %}
          </ul>
      </div> -->
      
    </div>
  </div>
</body>
</html>