<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password_reset_complete</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="res-c-container">
        <div class="res-c-block">
            <h2 class="res-c-title">Вы успешно обновили пароль</h2>

            <div class="res-c-text">Ваш пароль заменен на новый!</div>

            <ul class="res-c-link">
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'index' %}">Вернуться на главную</a></li>

            </ul>
        </div>
    </div>
</body>
</html>