<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password_reset_done</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="password_reset_done-container">
        <h2 class="password_reset_done-title">
            Ссылка для смены пароля отправлена на вашу почту 
        </h2>

        <a class="password_reset_done-link" href="../base.html">Вернуться на главную</a>
    </div>
</body>
</html>