{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="text-center mb-4">Забыли пароль?</h2>
    <p>Введи адрес своей электронной почты. Тебе будет отправлена ссылка на восстановление пароля.</p>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_email" class="form-label">Почта</label>
        <input type="email" name="email" id="id_email" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-positive">Отправить</button>
    </form>
    <div class="errors-list">
      <ul>
        {% for error in errors %}
          <li>
            {{ error }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
