<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>
    <div class="reg-container">
        <div class="reg-block">
            <h2 class="reg-title">
                Зарегистрироваться
            </h2>

            
            

            <div class="errors-list">
                <!-- <ul>
                {% for error in errors %}
                    <li>
                    {{ error }}
                    </li>
                {% endfor %}
                </ul> -->

                <ul>
                    {% for error in errors %}
                        <li><img src="/static/img/Vector 2.svg" alt="">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            
            
            <form method="post">
                {% csrf_token %}
                <ul class="input-ul">
                    <input id="username" name="username" type="text" placeholder="Ваше имя" required>
                    <input id="email" name="email" type="email" placeholder="Email" required>
                    <input id="password" name="password" type="password" placeholder="Пароль" required>
                    <input id="confirm_password" name="confirm_password" type="password" placeholder="Повторите пароль" required>
                </ul>
                <div class="log-errors-list">
                    <ul>
                        {% for error in errors %}
                            <li><img src="/static/img/Vector 2.svg" alt="">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <button type="submit" class="reg">Зарегистрироваться</button>
            </form>
            <ul class="log-a">
                <li><a href="/password_reset">Забыли пароль?</a></li>
                <li><a href="/register">Зарегистрироваться</a></li>
                <li><a href="/">Вернуться на главную</a></li>
            </ul>
        </div>

            <ul class="links">
                <li><button class="log"><a href="/login">Войти</a></button></li>
                <li><button class="back"><a href="/">Вернуться на главную</a></button></li>
            </ul>
        </div>
    </div>
    
</body>
</html>  