@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Montserrat: "Montserrat", sans-serif;
    --Montserrat-alt: "Montserrat Alternates", sans-serif;
}

body {
    background-color: rgba(170, 162, 149, 0.6);
    font-family: var(--Montserrat);
    color: #323232;
    font-weight: 400;


    
}

a {
    color: #323232;
}





/* Register */
.reg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 60px;
    background-color: #FFFAF4;
    width: 630px;
    height: 550px;
}

.reg-block {  
    width: 400px;
    height: 456px;
    margin: 50px 115px 30px 115px;
    text-align: center;
}

.reg-title {
    font-size: 24px;
    padding-bottom: 45px;
}


.input-ul {
    display: grid;
    grid-template-columns: repeat(1, 4r);
    gap: 35px;
    padding-bottom: 16px;
}

.input-ul input {
    font-size: 14px;
    border-bottom: 1px solid #323232;
}

.input-ul input:focus {
    transform: scale(1.03);
    transition: all 0.2s ease-in;
}


.errors-list {
    align-content: space-around;
    text-align: initial;
    font-size: 13px;
    padding-bottom: 25px;
}
.errors-list img {
    color: #323232;
}

.errors-list li {
    margin-bottom: 4px;
}

.reg {
    font-size: 16px;
    border-radius: 35px;
    background-color: #D8BE97;
    padding: 12px 32px 12px 32px;
}

.reg:hover {
    transform: scale(1.01);
    color: black;
    background-color: #d4b78a;
    transition: all 0.1s ease-in;
}

.reg:active {
    position: relative;
    top: 1px;
    transition: top 0.4s ease-in;
}

.links {
    font-size: 15px;

}

.log {
    padding-top: 20px;
    padding-bottom: 14px;
}



/* LogIn */

.log-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFAF4;
    width: 545px;
    height: 457px;
    border-radius: 60px;
}

.log-block {
    text-align: center;
    margin: 50px 107px 30px 106px;
}

.log-title {
    text-align: center;
    font-size: 24px;
    padding-bottom: 41px;
}


.log-input-ul {
    width: 322px;
    display: grid;
    grid-template-columns: repeat(1, 2r);
    gap: 50px;
    padding-bottom: 16px;
}

.log-input-ul input {
    font-size: 14px;
    border-bottom: 1px solid #323232;
}

.log-input-ul input:focus {
    transform: scale(1.03);
    transition: all 0.2s ease-in;
}

.log-errors-list {
    align-content: space-around;
    text-align: initial;
    font-size: 13px;
}

.errors-list img {
    color: #323232;
}

.log-btn {
    font-size: 16px;
    border-radius: 35px;
    background-color: #D8BE97;
    padding: 14px 35px 14px 35px;
    margin: 20px;
}

.log-btn:hover {
    transform: scale(1.01);
    color: black;
    background-color: #d4b78a;
    transition: all 0.1s ease-in;
}

.log-btn:active {
    position: relative;
    top: 1px;
    transition: top 0.4s ease-in;
}

.log-a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.log-a li {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}




/* Res-complete */

.res-c-container {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #FFFAF4;
    width: 500px;
    height: 310px;
    border-radius: 30px;
}

.res-c-block {
    padding: 45px 90px 45px 90px;
}

.res-c-title {
    font-size: 20px;
    padding-bottom: 54px;
}

.res-c-text {
    opacity: 0.7;
    padding-bottom: 56px;
}

.res-c-link li {
    margin-bottom: 27px;
}

.res-c-link li:hover {
    transform: scale(1.02);
    transition: all 0.2s linear;
}




/* password_reset_confirm */


.res-con-container {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #FFFAF4;
    width: 545px;
    height: 450px;
    border-radius: 30px;
}

.res-con-block {
    margin: 50px 108px 50px 107px;
}

.res-con-title {
    font-size: 18px;
    padding-bottom: 69px;
}
.res-con-title a {
    position: absolute;
    left: 40px;
}

.res-con-input {
    text-align: initial;
}

.res-con-input {
    display: grid;
    grid-template-columns: repeat(1, 2r);
    gap: 35px;
    padding-bottom: 23px;
}

.res-con-input input {
    font-size: 14px;
    border-bottom: 1px solid #323232;
}

.res-con-input input:focus {
    transform: scale(1.03);
    transition: all 0.2s ease-in;
}

.res-con-btn {
    font-size: 14px;
    padding: 11px 35px 11px 35px;
    background-color: #D8BE97;
    border-radius: 20px;
}

.res-con-btn:hover {
    transform: scale(1.01);
    color: black;
    background-color: #d4b78a;
    transition: all 0.1s ease-in;
}

.res-con-btn:active {
    position: relative;
    top: 1px;
    transition: top 0.4s ease-in;
}




/* password_reset_form */

.forget-container {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #FFFAF4;
    width: 545px;
    height: 366px;
    border-radius: 30px;
}

.forget-block {
    margin: 50px 98px 50px 97px;
}

.btn-back {
    position: absolute;
    left: 40px;
    height: 20px;
}


.forget-title {
    font-size: 16px;
    padding-bottom: 70px;
}

.forget-input {
    padding-bottom: 40px;
}

.forget-input input {
    width: 350px;
    font-size: 14px;
    border-bottom: 1px solid #323232;
}

.forget-input input:focus {
    transform: scale(1.03);
    transition: all 0.2s ease-in;
}

.forget-text {
    font-size: 14px;
    opacity: 0.8;
    padding-bottom: 40px;
}

.forget-btn {
    font-size: 14px;
    padding: 16px 42px 15px 42px;
    background-color: #D8BE97;
    border-radius: 30px;
}

.forget-btn:hover {
    transform: scale(1.008);
    color: black;
    background-color: #d4b78a;
    transition: all 0.1s ease-in;
}

.forget-btn:active {
    position: relative;
    top: 1px;
    transition: top 0.4s ease-in;
}



/* password_reset_done */ 

.password_reset_done-container {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #FFFAF4;
    width: 500px;
    height: 267px;
    border-radius: 30px;
    padding: 60px 109px 60px 109px;
}

.password_reset_done-title {
    font-size: 20px;
    border-bottom: 1px solid #323232;
    padding-bottom: 21px;
    margin-bottom: 61px;
}

.password_reset_done-link {
    opacity: 0.7;
}



/* password_reset_expired */ 

.expired-container {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #FFFAF4;
    width: 500px;
    height: 267px;
    border-radius: 30px;
    padding: 60px 94px 60px 94px;
}

.expired-title {
    font-size: 20px;
    border-bottom: 1px solid #323232;
    padding-bottom: 21px;
    margin-bottom: 50px;
}

.expired-link {
    padding-bottom: 10px;
    display: block;
    opacity: 0.7;
}



/* add.quote */

.navigation {
    position: relative;
    background-color: #FFFAF4;
    height: 40px;
}

.nav {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 11.5%;
}

.nav-title {
    margin-left: 13%;
    width: 310px;
    display: flex;
    font-weight: 500;
    font-size: 20px;
}


.nav-title:hover {
    transform: scale(1.004);
    transition: all 0.2s ease-in;
}

.users {
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    width: 54px;
    height: 33px;
    background-color: rgba(191, 191, 191, 0.8);
}

.arrow {
    position: relative;
    top: 8px;
}

.users:hover {
    background-color: rgba(145, 145, 145, 0.6);
    transition: all 0.2s ease-in;
}

.users:focus {
    background-color: rgba(145, 145, 145, 0.6);
}

.users:focus .arrow {
    
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
}

.users:not(:focus) .arrow {
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
}

#login-btn {
    

    background-color: #D8BE97;
    border-radius: 24px;
    font-weight: 500;
    padding: 6px 15px;

    &:hover {
        background-color: #d4b78a;
        transition: all 0.2s ease-in;
    }
}





.dropdown-menu {
    z-index: 9;
    position: absolute;
    top: 45px;
    right: 8%;
    text-align: center;
  
    font-size: 14px;
  
    width: 160px;
    min-height: 120px;
    background-color: #FFFAF4;
    border-radius: 16px;
}
  

.dropdown-menu.hidden {
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu1 {
    z-index: 9;
    padding-top: 9px;
    padding-bottom: 5px;
}

/* .dropdown-menu  {
    position: absolute;
    text-align: center;
    
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    width: 110px;
    height: 110px;
    background-color: #FFFAF4;
    border-radius: 16px;
    
} */

.dropdown-item {
    padding: 9px 5px;  
}


.dropdown-item:hover  {
    background-color: #d2d2d249;
    transition: all 0.1s ease-in;
}

.dropdown-item-line {
    background-color: #3232325a;
    width: 110px;
    margin-left: 25px;
    height: 1px;
}


.nav-link {
}
.nav-item {
    display: flex;
    position: absolute;
    right: 10%;
}






/* main */
.add_quote {
    overflow: hidden;
}

.container-add_quote {
    
    margin-top: 10%;
    border-radius: 110px;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    width: 1221px;
    height: 768px;
    
    background-color: #FFFAF4;
}

.add_quote-title {
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 81px;
}

.add_quote-block {
    position: relative;
    margin-left: 60px;

    border-radius: 20px;
    padding-top: 42px;
    width: 1100px;
    height: 259px;
    
    border: 1px solid #C2BDB5;
}

.add_quote-input {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 30px;
    
    padding-left: 46px;
    
}

#category_list {
    width: 770px;
    display: flex;
    gap: 10px;
    margin: 26px 5px 0 5px;
    position: absolute;
    border-radius: 33px;
    height: 30px;
    margin-left: 46px;
}


.content-item {
    padding: 4px 13px;
    border-radius: 30px;
    background-color: rgba(227, 227, 227, 0.65);
}


.delete-button {
    margin-left: 8px;
    background-color: #ef8d8d89;
    border-radius: 100px;
    padding: 1px 6px 2px 6px; 
}

.inp {
    width: 1000px;
    border-bottom: 1px solid #323232;
}

.inp:focus {
    transform: scale(1.01);
    transition: all 0.2s ease-in;
}

.inp:not(:focus) {
    transform: scale(1);
    transition: all 0.2s ease-in;
}



.inp-cat {
    width: 300px;
    border-bottom: 1px solid #323232;
}

.inp-cat:focus {
    transform: scale(1.04);
    transition: all 0.2s ease-in;
}

.inp-cat:not(:focus) {
    transform: scale(1);
    transition: all 0.2s ease-in;
}


.btn-add {
    margin-left: 10px;
    font-weight: 500;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #D8BE97;
}

.btn-add:hover  {
    background-color: #d4b78a;
    transition: all 0.1s ease-in;
}




.add_quote-btn-kat {
    position: absolute;
    margin-left: 45px;
    margin-top: 30px;
    font-size: 13px;
    background-color: rgba(227, 227, 227, 0.65);
    padding: 7px 18px 7px 18px;
    height: 29px;
    border-radius: 33px;
}


.add_quote-btn-kat:hover {
    background-color: rgba(227, 227, 227, 0.9);
    transition: all 0.2s ease-in;
}


.add_quote-btn {
    padding-top: 30px;
    padding-right: 47px;
    justify-content: flex-end;
    display: flex;
}

.add_quote-btn-clear {
    padding-right: 15px;
    font-size: 14px;
}

.add_quote-btn-add {
    background-color: #D8BE97;
    border-radius: 24px;
    padding: 10px 17px 10px 17px;
}

.add_quote-btn-add:hover {
    transform: scale(1.01);
    background-color: #d4b78a;
    transition: all 0.1s ease-in;
}

.add_quote-btn-add:active {
    position: relative;
    top: 1px;
    transition: top 0.4s ease-in;
}










/* base */

.body-base {
    overflow: hidden;
}

.con-base {
    overflow: hidden;
    text-align: center;
}

.title-base {
    z-index: 1;
    font-family: var(--Montserrat-alt);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
    text-align: center;
    font-size: 96px;


    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* .text-base {
} */

.btn-base {
    z-index: 9;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #FFFAF4;
    width: 150px;
    height: 50px;
    background-color: #323232;
    border-radius: 20px;


    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-base a {
    z-index: 9;
    color: #FFFAF4;
}


.btn-base:hover {
    background-color: #000;
    transition: all 0.3s ease-in;
}

.btn-base:active {
    position: absolute;
    top: 70.5%;
    transition: top 0.2s ease-in;
}


.Mark {
    
    z-index: 0;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 80%;
    opacity: 0.9;
    filter: brightness(90%);    
}



.neMark {
    z-index: 0;
    position: absolute;
    top: 60%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 84%;
    filter: brightness(88%); 
}

.text-Mark {
    font-family: var(--Montserrat-alt);
    text-shadow: #323232;
    font-size: 18px;
    color: #FFFAF4;
    z-index: 2;
    position: absolute;
    top: 88%;
    left: 70%;
    transform: rotate(-3deg);
    
}

.text-neMark {
    font-family: var(--Montserrat-alt);
    text-shadow: #323232;
    font-size: 18px;
    color: #FFFAF4;
    z-index: 2;
    position: absolute;
    top: 91%;
    left: 6%;
    transform: rotate(5deg);
}



/* dictionary */

.container-dic {
    
    margin-top: 10%;
    border-radius: 110px;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    min-height: 700px;
    width: 1221px;
    height: auto;
    padding-bottom: 100px;
    background-color: #FFFAF4;
}

.in-dic {
    height: 50px;
    margin: 70px 118px 0 118px;
    background-color: rgba(227, 227, 227, 0.65);
    border-radius: 23px;
}



.in-con {
    display: flex;
    padding: 5px 0 8px 24px;
}

.in-img {
    margin: 2px 24px 0 0;
    height: 33px;
    width: 33px;
}

.form-control {
    font-weight: 500;
    font-family: var(--Montserrat-alt);
    font-size: 16px;
    min-width: 785px;
}   

.btn {  
    margin-left: 10px; 
    border-radius: 24px;
    padding: 10px 21px;
    background-color: #D8BE97;

    font-size: 16px;
    font-weight: 500;
    font-family: var(--Montserrat-alt);

    &:hover {
        background-color: #d4b78a;
        transition: all 0.2s ease-in;
    }
}

/* Фильтры */


.modal {
    margin: 20px 118px 0 118px;
}

.modal-form {
    display: flex;
}

.authors {
    width: 150px;
}

.form-select {
    padding: 5px 5px 5px 10px;
    background-color: rgba(227, 227, 227, 0.4);
    border-radius: 23px;
}

.categories {
    width: 200px;
}






.quote-dic {
    
    padding: 50px 118px 0 118px;
}

.horizontal-block1 {
    padding-top: 12px;
    display: flex;
    width: 985px;
    overflow-x: hidden;
    white-space: nowrap;
    overflow-x: scroll;
}

.horizontal-block1:hover {
    overflow-x: scroll;
}
.horizontal-block1::-webkit-scrollbar {
    display: none;
}

.quote {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 12px;
}

.author {
    color: rgba(122, 122, 122, 1);
    font-size: 16px;
}

.cat {
    font-size: 16px;
    font-weight: 500;
    padding-top: 36px;
}

.line {
    background-color: #000;
    height: 1px;
    margin: 15px 118px 0 118px;
}




/* My_quote */




.title-my_quote {
    padding-top: 70px;
    text-align: center;
    font-size: 24px;
}

.my_quote-dic {
    display: flex;
    justify-content: space-between;
    padding: 50px 118px 0 118px;
}

.my_quote-quote {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 12px;
}

.my_quote-author {
    color: rgba(122, 122, 122, 1);
    font-size: 16px;
    padding-bottom: 12px;
}

/* .my_quote-cat {
    color: rgba(122, 122, 122, 1);
    font-size: 16px;
} */


.horizontal-block {
    display: flex;
    width: 800px;
    overflow-x: hidden;
    white-space: nowrap;
    overflow-x: scroll;
}

.horizontal-block:hover {
    overflow-x: scroll;
}
.horizontal-block::-webkit-scrollbar {
    display: none;
}
  

.categor {
    background-color: rgba(227, 227, 227, 0.65);
    padding: 5px 10px;
    border-radius: 24px;
    margin-right: 15px;
}


/* .horizontal-block:hover {
    overflow-x: scroll;
} */

.line {
    background-color: #000;
    height: 1px;
    margin: 15px 118px 0 118px;
}


.aaa {
    justify-content: flex-end;
    padding-top: 25px;
}

.status-complete {
    
    font-size: 14px;
    font-weight: 500;
    color: #00BA1E;
    padding-bottom: 12px;
}

.status-ban {
    
    font-size: 14px;
    font-weight: 500;
    color: #E20000;
    padding-bottom: 12px;
}

.status-under-consideration {
    font-size: 14px;
    font-weight: 500;
    color: #FFB800;
    padding-bottom: 12px;
}


.delete {
    border-radius: 33px;
    background-color: rgba(227, 227, 227, 0.65);
    width: 110px;
    height: 32px;
    font-size: 16px;
}