<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dictionary</title>
    <link rel="stylesheet" href="./static/css/main.css">
</head>
<body>
    <header>
        <div class="navigation">
            <div class="nav">
                <div class="nav-title">
                    <a href="./base.html">Вдохновляющий цитатник</a>
                </div>
                
                
                <div class="dropdown" d ata-bs-popper="none">
                    <button class="users" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false" type="button">
                        <img src="./img/Group 77.svg" alt="">
                        <img class="arrow" src="./img/Arrow 5.svg" alt="">
                    </button>

                        
                    <div class="dropdown-menu hidden">

                        <!-- <ul class="dropdown-menu" aria-labelledby="userMenuButton">
                            <li class="dropdown-item"><a href="#">Профиль</a></li>
                            <li class="dropdown-item"><a class="dropdown-item2" href="#">Настройки</a></li>
                            <li class="dropdown-item"><a class="dropdown-item3" href="/logout">Выход</a></li>
                        </ul> -->


                        <ul class="dropdown-menu1" aria-labelledby="userMenuButton">
                            <a href="./add_quote.html"><li class="dropdown-item">Добавить цитату</li></a>
                            <a class="dropdown-item2" href="./my_quotes.html"><li class="dropdown-item">Предложенные цитаты</li></a>
                            <li class="dropdown-item-line"></li>
                            <a class="dropdown-item3" href="./users/login.html"><li class="dropdown-item">Выход</li></a>
                        </ul>
                    </div>
                        
                    
                </div>
                

                
            </div>
        </div>
    </header>

    <main class="infinity">
        <div class="container-dic">
            <div class="in-dic">
                <div class="in-con">
                    <img class="in-img" src="./img/Group 25.svg" alt="">
                    <input class="input-dic" type="text" placeholder="Введите цитату, автора, категорию...">
                    <button class="search-btn">Найти</button>
                </div>
            </div>


            <div class="filter">

                
                <select class="authors" name="" id="authors">
                    <option hidden>Автор</option>
                    <option >ффф</option>
                    <option >чтоооооооооооооооо</option>
                    <option >гг</option>
                    <option >бб</option>

                </select>

                

                <select class="categories" name="" id="categories">
                    <option hidden>Категория</option>
                    <option hidden>Автор</option>
                    <option >ффф</option>
                    <option >чтоооооооооооооооо</option>
                    <option >гг</option>
                    <option >бб</option>
                </select>
                
            </div>

            <div class="block-quote">
                <div class="quote-dic">
                    <div class="quote-cat">
                        <h2 class="quote">Цитата...</h2>
                        <p class="author">Автор/источник</p>
                    </div>
                    <p class="cat">Категория</p>
                </div>
                <div class="line none"></div>
            </div>

            <div class="block-quote">
                <div class="quote-dic">
                    <div class="quote-cat">
                        <h2 class="quote">Цитата...</h2>
                        <p class="author">Автор/источник</p>
                    </div>
                    <p class="cat">Категория</p>
                </div>
                <div class="line none"></div>
            </div>

            <div class="block-quote">
                <div class="quote-dic">
                    <div class="quote-cat">
                        <h2 class="quote">Цитата...</h2>
                        <p class="author">Автор/источник</p>
                    </div>
                    <p class="cat">Категория</p>
                </div>
                <div class="line none"></div>
            </div>

            <div class="block-quote">
                <div class="quote-dic">
                    <div class="quote-cat">
                        <h2 class="quote">Цитата...</h2>
                        <p class="author">Автор/источник</p>
                    </div>
                    <p class="cat">Категория</p>
                </div>
                <div class="line none"></div>
            </div>

            <div class="block-quote">
                <div class="quote-dic">
                    <div class="quote-cat">
                        <h2 class="quote">Цитата...</h2>
                        <p class="author">Автор/источник</p>
                    </div>
                    <p class="cat">Категория</p>
                </div>
                <div class="line none"></div>
            </div>
            
            <div class="block-quote">
                <div class="quote-dic">
                    <div class="quote-cat">
                        <h2 class="quote">Цитата...</h2>
                        <p class="author">Автор/источник</p>
                    </div>
                    <p class="cat">Категория</p>
                </div>
                <div class="line none"></div>
            </div>

            <div class="block-quote">
                <div class="quote-dic">
                    <div class="quote-cat">
                        <h2 class="quote">Цитата...</h2>
                        <p class="author">Автор/источник</p>
                    </div>
                    <p class="cat">Категория</p>
                </div>
                <div class="line none"></div>
            </div>

            <div class="block-quote">
                <div class="quote-dic">
                    <div class="quote-cat">
                        <h2 class="quote">Цитата...</h2>
                        <p class="author">Автор/источник</p>
                    </div>
                    <p class="cat">Категория</p>
                </div>
                <div class="line none"></div>
            </div>
        </div>
    </main>

    <script src="./static/js/main.js"></script>
    <script src="../static/js/apiRequests.js"></script>
    <script src="../static/js/loadFilters.js"></script>
    <script src="../static/js/loadDictionary.js"></script>
    <script src="../static/js/eventListeners.js"></script>
</body>
</html>