<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dictionary</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header>
        <div class="navigation">
            <div class="nav">
                <div class="nav-title">
                    <a href="/">Вдохновляющий цитатник</a>
                </div>
                
                
                <div class="dropdown" data-bs-popper="none" id="navbarNav">
                    {% if user.is_authenticated %}
                    <button id="userMenuButton" class="users" data-bs-toggle="dropdown" aria-expanded="false" type="button">
                        <img src="/static/img/Group 77.svg" alt="">
                        <img class="arrow" src="/static/img/Arrow 5.svg" alt="">
                    </button>
                    <div class="dropdown-menu hidden">
                    <ul class="dropdown-menu1" aria-labelledby="userMenuButton">
                        <a href="/add_quote"><li class="dropdown-item">Добавить цитату</li></a>
                        <a class="dropdown-item2" href="/my_quotes"><li class="dropdown-item">Предложенные цитаты</li></a>
                        <li class="dropdown-item-line"></li>
                        <a class="dropdown-item3" href="/logout"><li class="dropdown-item">Выход</li></a>
                    </ul>
                    </div>
                    {% else %}
                    <a href="/login"><button id="login-btn">Авторизоваться</button></a> 

                    

                        <!-- <ul class="dropdown-menu" aria-labelledby="userMenuButton">
                            <li class="dropdown-item"><a href="#">Профиль</a></li>
                            <li class="dropdown-item"><a class="dropdown-item2" href="#">Настройки</a></li>
                            <li class="dropdown-item"><a class="dropdown-item3" href="/logout">Выход</a></li>
                        </ul> -->

                    {% endif %}
                    
                        
                    
                </div>
                
            </div>
        </div>
    </header>

    <main class="infinity">
        
        <div class="container-dic">
            
            <div id="searchForm">
                <div class="in-dic">
                    <div class="in-con">
                        <img class="in-img" src="/static/img/Group 25.svg" alt="">
                        <input id="query" type="text" class="form-control" placeholder="Введите цитату, автора, категорию...">
                        <button id="search" type="button" form="searchForm" class="btn btn-positive">Найти</button>
                    </div>
                </div>
    
    
                <div class="modal fade" id="filterModal" aria-labelledby="filterModalLabel" aria-hidden="true">
    
    
    
                    <div class="modal-body">
                        <form class="modal-form" id="settingsForm">
                            <div class="authors">
                                <label for="authorsDropdown" class="form-label">Автор</label>
                                <select class="form-select" id="authorsDropdown">
                                    <option value="">Все</option>
                                </select>
                            </div>
                            
                            <div class="categories">
                                <label for="categoriesDropdown" class="form-label mt-3">Категория</label>
                                <select class="form-select" id="categoriesDropdown">
                                    <option value="">Все</option>
                                </select>
                            </div>
                            
          
                        </form>
                    </div>
            </div>
                
            
            
            <div class="quotes" id="quotes">
                
            </div>           
        </div>
    </main>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/loadFilters.js"></script>
    <script src="/static/js/loadDictionary.js"></script>
    

    <script>
        searchHandler();
    </script>
</body>
</html>