{% extends "base.html" %}

{% block title %}Вдохновляющий цитатник - Словарь{% endblock title %}

{% block content %}

    <form id="searchForm" class="input-group mb-3">
        <input id="query" type="text" class="form-control" placeholder="Искать по ключевым словам">
        <button id="search" type="button" form="searchForm" class="btn btn-positive">
            Поиск
        </button>
        <button type="button" class="btn btn-negative" data-bs-toggle="modal" data-bs-target="#filterModal">
            Фильтр
        </button>
    </form>

    <div class="bg-light">
        <div id="quotes">

        </div>
        <div id="spinner" hidden></div>
    </div>

    {% include "modals.html" %}
      
{% endblock content %}

{% block scripts %}
    <script src="/static/js/api.js"></script>
    <script src="/static/js/loadFilters.js"></script>
    <script src="/static/js/loadDictionary.js"></script>
    <script>
        searchHandler();
    </script>
{% endblock scripts %}
